page-result {
.blk {
    background-color:#272522;
    color: #F8F8F8;
  }

 .blkh {
   color : #FFFF82;
 }

 .hdr {
    background-color:silver;
    color:black;
 }
 
 p {
   color: #F8F8F8;
 }

 a {
   color : #FFFF82 !important;
 }

}
