page-dosim {
.blk {
    background-color:#272522;
    color: #F8F8F8;
  }

 .blkh {
   color : #FFFF82;
 }

 .hdr {
    background-color:silver;
    color:black;
 }
 
 .bgr {
  font-size:1.1em;
    background-color:#272522;
    color: #F8F8F8;
 }    

 .blkp {
  font-size:1.1em;
    background-color:#272522;
    color: #F8F8F8;
    margin-top:10px !important;   
 }

 .btt {
   color:#F8F8F8;
   background-color:#272522;
 }
}
